include ./config.jade

mixin ie_condition(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

block _variables_head_
	- var page_title = "Juan Cahuana - Desarrolador Front-End";
	- var page_description = "Desarrollador web en Lima- Perú.";
	
block _variables_menu_
	- var btn_home = "";
	- var btn_perfil = "";
	- var btn_portafolio = "";
	- var btn_contacto = "";
	
doctype html
html( lang="es" )
	head
		meta( charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title #{page_title}
		meta( name="description", content="#{page_description}" )
		meta( name="google-site-verification", content="3-V_b9owUxfAqr4YMbS8D5SqRGR7zbM0E4MRd6cMsC0" )
		meta(property='og:title', content='#{page_title}')
		meta(property='og:image', content='#{site_url}/img/img-facebook.jpg')
		meta(property='og:site_name', content='Juan Cahuana - Página personal')
		meta(property='og:description', content="#{page_description}")
		
		include ./includes/_favicon.jade
		
		block _cssfiles_
			link( rel="stylesheet", href="css/home.min.css")
		
		+ie_condition('if lt IE 9')
			script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		| <script src="//load.sumome.com/" data-sumo-site-id="ecf78bc6114fd994f5b6a872d8ca717e204a8bb3eca5608b4b768f9ca13f65a6" async="async"></script>
	body
		block _fbscript_
		include ./includes/_gtm.jade
		div.fullscreen-viewport
			div.fullscreen
				img(src="img/bg-world.jpg")
		div#outer-wrapper
			include ./modules/header.jade
			div#main
				.main-inner
					block _contenido_
          
			include ./modules/footer.jade
		
		block _plantillas_
		block _jsfiles_
